.body {
  background-color: rgb(52, 50, 50);
}
.navbar1 {
  background-color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  position: static;
}
.navbar-name {
  color: red;
  font-size: larger;
  padding: 14px;
  text-decoration: 2px solid darkred;
}
.header2 {
  background-color: rgb(40, 38, 38);
  border-bottom: 2px solid black;
  padding: 5px;
  /* width: 100%; */
  position: static;
}
.Lang {
  padding-left: 10px;
}

.container {
  display: inline;
  color: white;
  box-sizing: border-box;
}

.container button {
  padding: 5px 10px 5px 10px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: red;
}
.mov {
  float: inline-start;
  width: 33.33%;
  padding: 10px;
}

.inputbar {
  display: inline-flex;
}
.inputbar button {
  float: right;
  margin: 0;
  margin-left: 5px;
}

.movie {
  display: inline-block;
  padding: 30px 15px 30px 15px;
  border: 1px solid rgb(76, 74, 74);
  border-radius: 15px 50px;
  margin: 5px;
}

.movie h3 {
  box-sizing: content-box;
  text-decoration: 2px underline red;
  padding-top: 2px;
  text-align: center;
  vertical-align: bottom;
  width: 250px;
  padding-bottom: 3px;
}
.signup button {
  float: right;
  margin-left: 10px;
  padding: 6px;
  border-radius: 10px;
  background-color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}
/* .searchbar {
  padding: 15px;
  display: inline-flex;
}
.searchbar button {
  margin-left: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: red;
  cursor: pointer;
} */
